<div class="nested-fields">
  <% field.nested_fields_for_builder(f).each do |attribute| -%>
    <div class="field-unit field-unit--<%= attribute.html_class %>">
      <%= render_field attribute, f: f %>
    </div>
  <% end -%>

  <%= link_to_remove_association f %>
</div>
